body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("src/images/dance_floor1.png");
  background-position: center;
  height: 50%;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton, .lineUpDancersButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid yellow;
  border-radius:10px;*/
  position:absolute;
}
.newClassColor { 
/*  border: 5px solid red;
*/  
  position: absolute;
  height: 100px;
  width: 100px;
}

.lineUp {
/*  align-items: center;
*/  
  top: 100;
  left: 100;
}
